<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This allows you to control current music playback in the app.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ji-spaceui._udp</string>
		<string>_ji-spaceui._tcp</string>
	</array>
	<key>NSHomeKitUsageDescription</key>
	<string>This allows you to sync colors with home lights.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This allows you to sync UI style with nearby devices.</string>
	<key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>ABEquinox.otf</string>
		<string>AlmostThere-Numeric.otf</string>
		<string>Auraboo.otf</string>
		<string>AurekBesh.ttf</string>
		<string>AurebeshBloopsAF.otf</string>
		<string>AurebeshDroid.ttf</string>
		<string>Aurebesh-English.ttf</string>
		<string>AurebeshRacerAF-Fast.otf</string>
		<string>BaybayinRounded.ttf</string>
		<string>ClyneseBend.ttf</string>
		<string>FresianAF.otf</string>
		<string>Galactico.ttf</string>
		<string>GeonosianPM.ttf</string>
		<string>KyberCrystalDisplay.ttf</string>
		<string>MandoAF-Regular.otf</string>
		<string>OuterRimAF.ttf</string>
		<string>SFoil.otf</string>
		<string>SGA2.ttf</string>
		<string>TheCalling.ttf</string>
		<string>TradeFederation.ttf</string>
		<string>UmbaranST.otf</string>
	</array>
	<key>UIApplicationPreferredDefaultSceneSessionRole</key>
	<string>UIWindowSceneSessionRoleVolumetricApplication</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneConfigurationName</key>
					<string>Vision</string>
					<key>UISceneDelegateClassName</key>
					<string></string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplay</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleVolumetricApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneConfigurationName</key>
					<string>Vision</string>
					<key>UISceneDelegateClassName</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Black</string>
		<key>UIImageName</key>
		<string>Word Logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
