<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Acknowledgements</string>
	<key>StringsFilename</key>
	<string>Acknowledgements</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>appVersion</string>
			<key>DefaultValue</key>
			<string>?</string>
			<key>Title</key>
			<string>App Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Host Sessions</string>
            <key>Key</key>
            <string>canHostSession</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Join Sessions</string>
            <key>Key</key>
            <string>canJoinSession</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
	</array>
</dict>
</plist>
